<!-- ***************************** Small Header ************************** -->
<app-small-header></app-small-header>

<!-- ***************************** Main Header ************************** -->
<app-main-header></app-main-header>

<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/index/images/bg_4.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate mb-5 text-center mb-13">
            <p class="breadcrumbs mb-0"><span class="mr-2"><a [routerLink]="['/']">Inicio <i class="fa fa-chevron-right"></i></a></span> <span>Contáctenos </span></p>
          <h2 class="mb-0 bread">Contáctenos</h2>
        </div>
      </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper px-md-4">
                    <div class="row mb-5">
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="text">
                        <p>
                            <span>Dirección:</span> 
                            <a href="https://goo.gl/maps/3PuxqCiLMr4vgyq17" target="_blank" class="text">
                                Carrera 68G #72-18 <br>
                                Bogotá D.C, Colombia
                            </a>
                        </p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-whatsapp"></span>
                        </div>
                        <div class="text">
                        <p>
                            <span>Teléfono</span>
                            <a href="tel:+573142524145">3142524145</a>
                        </p>
                        <p>
                            <span>WhatsApp:</span> 
                            <a href="tel:+573142524145">3142524145</a>
                        </p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div class="text">
                        <p>
                            <span>Correo:</span>
                            <a href="mailto:contacto@licoreriapensilvania.com?Subject=Contactame">contacto@licoreriapensilvania.com</a>
                        </p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-android"></span>
                        </div>
                        <div class="text">
                        <p>
                            <span>Play Store</span>
                            Proximamente...
                        </p>
                      </div>
                  </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-7">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Contáctenos</h3>
                                <div method="POST" id="contactForm" name="contactForm" class="contactForm" action="https://formspree.io/f/xyylldqo">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Nombre</label>
                                                <input type="text" required class="form-control" name="name" id="name" placeholder="Ingresa nombre completo" [(ngModel)]="contactData.name">
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <label class="label" for="email">Correo</label>
                                                <input type="email" required class="form-control" name="_replyto" id="email" placeholder="Ingresa correo eléctronico" [(ngModel)]="contactData._replyto">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Asunto</label>
                                                <input type="text" required class="form-control" name="subject" id="subject" placeholder="Estamos felices de atenderte,cuentanos ¿en que podemos ayudarte?" [(ngModel)]="contactData.subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Mensaje</label>
                                                <textarea required name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Dejanos mas información sobre tu inquietud y tu número teléfonico" [(ngModel)]="contactData.message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <!-- <input type="submit" value="Enviar" class="btn btn-primary">
                                                <div class="submitting"></div> -->
                                                <button type="submit" class="btn btn-primary" (click)="sendContactData()">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 order-md-first d-flex align-items-stretch">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.5154158794435!2d-74.0875793!3d4.6800991!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b1a661cef0b%3A0xdd2768460f5b3f32!2sCra.%2068g%20%2372-18%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1630798249644!5m2!1ses!2sco" width="700" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ***************************** Alcohol Banner ************************** -->
<app-alcohol-banner></app-alcohol-banner>

<!-- ***************************** Footer ************************** -->
<app-footer></app-footer>

<!-- ***************************** Loader ************************** -->
<app-loader></app-loader>