.fab-main {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 100000;
}

table
{
    width: 100%;
}

.w-100
{
    width: 100%;
}

mat-selection-list
{
    cursor: pointer;
}

.mat-badge-content {
    font-family: 'Material Icons';
}

.c-red
{
    color: red !important;
}

.mat-tab-body-content
{
    overflow-x: hidden !important;
}
// .mat-tab-body-wrapper{margin-left: -190px;}