<div class="contenedor">
    <div class="row ml-1">
        <h1 class="fw-500 txt-center">CREAR NUEVA VENTA</h1>        
    </div>

    <mat-divider></mat-divider>

    <div class="row mt-3">
      <div class="col-10">
        <mat-form-field appearance="fill" class="w-100">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Escánear Código de Barras o Buscar Producto...</mat-label>
          <input matInput type="text" autofocus
                  [(ngModel)]="search"
                  (keydown.enter)="searchProduct()">
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-item *ngFor="let product of filteredProducts" (click)="searchById( product.id || '' )">
              <mat-icon mat-list-icon>add_shopping_cart</mat-icon>
              <div mat-line>{{product.category.name}}</div>
              <div mat-line> {{product.name + ' X ' + product.unit.unit}} </div>
            </mat-list-item>
          </mat-selection-list>

          <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchData()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-2 pt-2">
        <button mat-raised-button (click)="searchProduct()">Buscar Producto</button>
      </div>
    </div>

    <div class="section">

      <mat-tab-group [selectedIndex]="selected.value" (selectedTabChange)="verifyControlTab()"
            (selectedIndexChange)="selected.setValue($event)">

        <ng-container *ngFor="let tab of tabs; let index = index">
          <mat-tab>
            <ng-template mat-tab-label>              
              {{ tab }}
            </ng-template>
            <div class="row ml-1 mt-2" *ngIf="!isEmpty">
              <h1 class="fw-500 txt-center" style="color: #36993f;">Total de la Venta: $20.000</h1>
            </div>
            <!-- Contenido del tab -->
            Contents for {{tab}} tab
          </mat-tab>

          <ng-container *ngIf="index === (tabs.length - 1)">
            <mat-tab> 
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">add_circle</mat-icon>
                Agregar
              </ng-template>
            </mat-tab>
            <mat-tab [disabled]="countSales == 1"> 
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon" [ngClass]="{'c-red':countSales != 1}">delete_forever</mat-icon>
                <span [ngClass]="{'c-red':countSales != 1}">Borrar Ventas</span>
              </ng-template>
            </mat-tab>
          </ng-container>

        </ng-container>
      </mat-tab-group>
    </div>

    

    <!-- Boton flotante -->
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="fab-main">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    
</div>