<div class="contenedor">
    
    <app-main-toolbar
                    [title]="'CREAR NUEVA VENTA'"
                    [backRoute]="'/dashboard/sales'">        
    </app-main-toolbar>

    <mat-divider></mat-divider>

    <!-- Buscar productos -->
    <div class="row mt-3">
      <div class="col-10">
        <div mat-dialog-content>
            <mat-form-field appearance="fill" class="w-100">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Escánear Código de Barras o Buscar Producto...</mat-label>
                <input matInput type="text" autofocus
                      aria-label="Producto"
                      [(ngModel)]="search"
                      [matAutocomplete]="auto"
                      (keydown.enter)="searchProduct()">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                            *ngFor="let product of filteredProducts | async" 
                            [value]="getFullProductName( product )"
                            (onSelectionChange)="verifyAddCartProduct( product )">
                    <img class="example-option-img" aria-hidden [src]="product.img" height="25">
                    <small>{{ getFullProductName( product ) }}</small>
                  </mat-option>
                </mat-autocomplete>
                <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search = ''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        
            <div class="alert alert-warning" role="alert" *ngIf="products.length < 1">
              No hay productos para mostrar!
            </div>
        </div>
      </div>

      <div class="col-2 pt-2">
        <button mat-raised-button (click)="searchProduct()">Buscar Producto</button>
      </div>
    </div>

    <div class="section">
      <mat-tab-group  [selectedIndex]="selected.value" 
                      (selectedTabChange)="verifyControlTab()"
                      (selectedIndexChange)="selected.setValue($event)">

        <ng-container *ngFor="let tab of tabs; let index = index">
          <mat-tab>
            <ng-template mat-tab-label>              
              {{ tab }}
            </ng-template>
            <div class="row ml-1 mt-2 justify-center">
              <div class="col-6">
                <h1 class="fw-500 txt-end" style="color: #36993f;">Resumen de la Venta {{ (index + 1) }}</h1>
              </div>

              <!-- Boton de terminar la venta -->
              <div class="col-4">                
                <button mat-raised-button color="primary" 
                                          [disabled]="isEmpty(index)"                                          
                                          [matMenuTriggerFor]="menu" #menuTrigger>
                  <mat-icon>menu</mat-icon>
                  Terminar Venta
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="finishCashSale( index, 'counted' )">
                    <mat-icon>euro_symbol</mat-icon>
                    <span>Contado</span>                    
                  </button>
                  <button mat-menu-item (click)="finishCashSale( index, 'trusted' )">
                    <mat-icon>payment</mat-icon>
                    <span>Fiado</span>     
                  </button>
                </mat-menu>
              </div>

            </div>
            <!-- ***************************************** Contenido del tab ************************************ -->
            <app-sale-table [saleId]="countSales" 
                            [products]="products[index]" 
                            [index]="index" 
                            (onDeleteItem)="removeCartItem( $event )"
                            (onPlusItem)="plusCartItem( $event )"
                            (onMinusItem)="minusCartItem( $event )"
                            (onChangePriceItem)="changePriceCartItem( $event )"
                            (onMarkSecondPrice)="markSecondPriceProduct( $event )">
            </app-sale-table>
            <!-- ***************************************** Contenido del tab ************************************ -->
          </mat-tab>

          <ng-container *ngIf="index === (tabs.length - 1)">
            <mat-tab> 
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">add_circle</mat-icon>
                Agregar
              </ng-template>
            </mat-tab>
            <mat-tab [disabled]="countSales == 1"> 
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon" [ngClass]="{'c-red':countSales != 1}">delete_forever</mat-icon>
                <span [ngClass]="{'c-red':countSales != 1}">Borrar Ventas</span>
              </ng-template>
            </mat-tab>
          </ng-container>

        </ng-container>
      </mat-tab-group>
    </div>
</div>