<div class="hero-wrap" style="background-image: url('assets/index/images/bg_4.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center">
                    <h4 style="color: #ffffff;">WhatsApp | Teléfono: <a href="tel:+573142524145" style="color: white;">3142524145</a> </h4>
                    <h1><span>Licorería</span></h1>
                    <div class="txt-zoom display-1"><span style="color: #DAD302;">Pen</span><span
                            style="color: #ffffff;">silv</span><span style="color: #029B1D;">ania</span></div>
                    <p>
                        <a [routerLink]="['/products']" class="btn btn-primary py-2 px-4">Comprar</a>
                        <a [routerLink]="['/products']" class="btn btn-white btn-outline-white py-2 px-4">Ver Más</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>