<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport color="primary"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar color="primary">Dashboard</mat-toolbar> -->
    <div class="example-button-container text-center mt-3">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>person</mat-icon>
        </button>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        Panel Principal
      </a>
      <mat-divider></mat-divider>
      <div mat-subheader>Opciones</div>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon mat-list-icon>local_drink</mat-icon>
                <span class="mt-1">Productos</span>                
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>


      <mat-divider></mat-divider>
      <div mat-subheader>General</div>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon mat-list-icon>settings</mat-icon>
                <span class="mt-1">Configuraciones</span>                
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>


      <!-- <a mat-list-item [routerLink]="['/dashboard/users']">
        <mat-icon mat-list-icon>remove_red_eye</mat-icon>
        Ver Todas
      </a>
      <a mat-list-item [routerLink]="['/dashboard/users/blacklist']">
        <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
        Lista Negra
      </a>
      <a mat-list-item [routerLink]="['/dashboard/users/create']">
        <mat-icon mat-list-icon>add</mat-icon>
        Agregar
      </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="ml-4">Licorería Pensilvania</span>
    </mat-toolbar>
    
    <!-- Main Content -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>