<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Nuestras Diferentes Ofertas</span>
                <h2>¡Sabemos que tienes buen gusto!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/1.Aguardiente-[Cristal\,XS]-Media-375ml-Vol24\ -\ 15.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="sale">Sale</span>
                        <span class="category">Aguardiente</span>
                        <h2>Cristal XS</h2>
                        <span class="category">Media - 375ml - 24%Vol</span>
                        <p class="mb-0"><span class="price price-sale">$16.700</span> <span
                                class="price">$15.000</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/2.Aguardiente-[TapaRoja]-Media-375ml-Vol29\ -\ 25.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="seller">Best Seller</span>
                        <span class="category">Aguardiente</span>
                        <h2>Tapa Roja</h2>
                        <span class="category">Media - 375ml - 29%Vol</span>
                        <br>
                        <span class="price">$25.000</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/3.Aguardiente-[Nectar\,Club\,Verde\,Sin\ Azucar]-Media-375ml-Vol24\ -\ 18.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="new">New Arrival</span>
                        <span class="category">Aguardiente</span>
                        <h2>Nectar Club Verde - Sin Azúcar</h2>
                        <span class="category">Media - 375ml - 24%Vol</span>
                        <br>
                        <span class="price">$18.000</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/4.Aguardiente-[Nectar\,Tradicional]-Media-375ml-Vol29\ -\ 17.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Aguardiente</span>
                        <h2>Nectar Tradicional</h2>
                        <span class="category">Media - 375ml - 29%Vol</span>
                        <br>
                        <span class="price">$17.000</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/5.Aguardiente-[Antioqueño\,Verde\,Sin\ Azucar]-Media-375ml-Vol24\ -\ 20.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Aguardiente</span>
                        <h2>Antioqueño Verde - Sin Azúcar</h2>
                        <span class="category">Media - 375ml - 24%Vol</span>
                        <br>
                        <span class="price">$20.000</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/6.Aguardiente-[Antioqueño\,Rojo]-Media-375ml-Vol29\ -\ 22.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Aguardiente</span>
                        <h2>Antioqueño Rojo</h2>
                        <span class="category">Media - 375ml - 29%Vol</span>
                        <br>
                        <span class="price">$22.000</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/7.Aguardiente-[Antioqueño\,Azul\,Sin\ Azucar]-Media-375ml-Vol29\ -\ 23.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Aguardiente</span>
                        <h2>Antioqueño Azul - Sin Azúcar</h2>
                        <span class="category">Media - 375ml - 29%Vol</span>
                        <br>
                        <span class="price">$23.000</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/index/images/Aguardiente/Medias-375ml/8.Aguardiente-[Amarillo\,de\ Manzanares\,Sin\ Azucar]-Media-375ml-Vol24\ -\ 24.000.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Aguardiente</span>
                        <h2>Amarillo de Manzanares - Sin Azúcar</h2>
                        <span class="category">Media - 375ml - 24%Vol</span>
                        <br>
                        <span class="price">$24.000</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="product.html" class="btn btn-primary d-block">Ver Todos Los Productos <span
                        class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>