<!-- ***************************** Small Header ************************** -->
<app-small-header></app-small-header>

<!-- ***************************** Main Header ************************** -->
<app-main-header></app-main-header>

<!-- ***************************** Main Banner ************************** -->
<app-main-banner></app-main-banner>

<!-- ***************************** Root Content ************************** -->
<!-- <app-root-content></app-root-content> -->
<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Nuestras Diferentes Ofertas</span>
                <h2>¡Sabemos que tienes buen gusto!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row mb-4">
                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                        <mat-form-field appearance="standard" style="width: 50%;">
                            <mat-label>Buscar...</mat-label>
                            <input matInput placeholder="Buscar productos disponibles..." #input>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccionar Categoría</mat-label>
                            <mat-select>
                                <mat-option (click)="loadProducts()" value="Todas">Todas</mat-option>
                                <mat-option *ngFor="let category of categories" [value]="category.id" (click)="selectCategory(category.id)">
                                    {{ category.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 d-flex" *ngFor="let product of products">
                        <div class="product ftco-animate">
                            <div class="img d-flex align-items-center justify-content-center" [ngStyle]="{'background-image': 'url(' + product.img + ')'}">
                                <div class="desc">
                                    <p class="meta-prod d-flex">
                                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>
                                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                    </p>
                                </div>
                            </div>
                            <div class="text text-center">
                                <span class="sale">Sale</span>
                                <!-- <span class="seller">Best Seller</span> -->
                                <!-- <span class="new">New Arrival</span> -->
                                <span class="category">{{ product.category.name }}</span>                                
                                <h2>{{ product.name }}</h2>
                                <p class="mb-0">
                                    <!-- <span class="price price-sale">$69.00</span> -->
                                    <span class="price">$ {{ product.sale_price | number }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                    <div class="block-27">
                        <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ***************************** Categories Section ************************** -->
<!-- <app-categories-section></app-categories-section> -->

<!-- ***************************** Products Section ************************** -->
<!-- <app-products-section></app-products-section> -->

<!-- ***************************** Alcohol Banner ************************** -->
<app-alcohol-banner></app-alcohol-banner>

<!-- ***************************** Footer ************************** -->
<app-footer></app-footer>

<!-- ***************************** Loader ************************** -->
<app-loader></app-loader>