@import '../../../../../assets/index/css/style.css';
@import '../../../../../assets/index/css/my-styles.css';

@media (max-width: 768px) 
{
    .select-category
    {
        float: none !important;
        padding-left: 30%;
    }
}

@media (max-width: 450px) 
{
    .select-category
    {
        float: none !important;
        padding-left: 24%;
    }
}

@media (max-width: 330px) 
{
    .select-category
    {
        float: none !important;
        padding-left: 16%;
    }
}

.disabled
{
    background-color: darkgray;
    color: white !important;
}

.fw-b
{
    font-weight: bold !important;
}

.mb-13
{
    margin-bottom: 13% !important;
}

.mat-focused .mat-form-field-label 
{
    /*change color of label*/
    color: #D13030 !important;
}
  
// ::ng-deep.mat-form-field-underline 
// {
//     background-color: #D13030 !important;
// } 
  
.mat-form-field-ripple 
{
    /*change color of underline when focused*/
    background-color: #D13030 !important;
}