<h1 class="txt-center" mat-dialog-title>Buscar Producto Existente</h1>
<div mat-dialog-content>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Buscar...</mat-label>
        <input matInput
               aria-label="Producto"
               [matAutocomplete]="auto"
               [formControl]="selectedProduct"
               (keyup)="searchProductsMatch()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
                    *ngFor="let product of filteredProducts | async" 
                    [value]="getFullProductName( product )"
                    (onSelectionChange)="selectProduct( product.id )">
            <img class="example-option-img" aria-hidden [src]="product.img" height="25">
            <small>{{ getFullProductName( product ) }}</small>
          </mat-option>
        </mat-autocomplete>
        <button *ngIf="idSelectedProduct" matSuffix mat-icon-button aria-label="Clear" (click)="clearData()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div class="alert alert-warning" role="alert" *ngIf="products.length < 1">
      No hay productos para mostrar!
    </div>

</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="!idSelectedProduct">Seleccionar</button>
</div>