<h1 mat-dialog-title class="txt-center">Terminar Compra</h1>
<div mat-dialog-content>
  <!-- Dinero recibido -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Cantidad Recibida</mat-label>
    <input type="number" matInput [(ngModel)]="purchaseTotal"/>
    <mat-hint align="start"><strong>¿Con Cuánto Paga?</strong> </mat-hint>
    <button matSuffix mat-icon-button aria-label="Clear" (click)="purchaseTotal = 0">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="txt-center mt-2">
    <p>Agregar el Proveedor</p>
  </div>

  <div class="mt-2">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Buscar por Cédula o NIT...</mat-label>
        <input matInput
               aria-label="Cédula o NIT"
               [matAutocomplete]="auto"
               [formControl]="termDniProvider">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
                    *ngFor="let provider of filteredProviders | async" 
                    [value]="provider.dni"
                    (onSelectionChange)="onChangeProvider( provider )">
            <small>{{ provider.dni + ' - ' + provider.name }}</small>
          </mat-option>
        </mat-autocomplete>

        <button *ngIf="dni" matSuffix mat-icon-button aria-label="Clear" (click)="clearData()">
            <mat-icon>close</mat-icon>
        </button>

    </mat-form-field>

    <div class="alert alert-warning txt-center" role="alert" >
        <p>ó</p>
        <button mat-raised-button color="accent" (click)="createProvider()">Registrar Nuevo Proveedor</button>
    </div>
  </div>

  <div class="mt-2 txt-end">
      <p>Total: $ {{ total | number }}</p>
      <p>Pago: $ {{ purchaseTotal | number }}</p>
      <p style="color: #007bff">Devuelta: $ {{ (purchaseTotal - total)  | number }}</p>
  </div>

</div>
<div mat-dialog-actions class="box-center">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button 
            color="primary" 
            cdkFocusInitial 
            (click)="aceptDialog()"
            [disabled]="disabledPurchase">
    Aceptar
  </button>
</div>