<footer class="ftco-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 logo"><a href="#">Licorería <span>Pensilvania</span></a></h2>
                    <p>Siguenos en nuestras redes sociales:</p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Mi Cuenta</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Mi Cuenta</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Registrarse</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Iniciar Sesión</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Mi Pedido</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Licores</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Aguardiente</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Ron</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Cerveza</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Tequila</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <!-- <h2 class="ftco-heading-2">Quick Link</h2> -->
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Vodka</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Bacardí</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Whiskey</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Jägermeister</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Crema de Whiskey</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Más Licores...</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contáctenos</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span>
                                <a href="https://goo.gl/maps/3PuxqCiLMr4vgyq17" target="_blank" class="text">
                                    Carrera 68G #72-18 <br>
                                    Bogotá D.C, Colombia
                                </a>
                                </li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span
                                        class="text">3142524145</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span
                                        class="text">contacto@licoreriapensilvania.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <p class="mb-0" style="color: rgba(255,255,255,.5);">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos Los Derechos Reservados |
                        Desarrollado por <a href="https://alejogomez1702.github.io/my-portfolio/"
                            target="_blank">Alejandro Gómez</a> <i class="fa fa-heart color-danger"
                            aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>