<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="text">
                        <h2>Soporte Online 24/7</h2>
                        <p>Disponibilidad 24 horas para domicilios en Bogotá.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-cashback"></span>
                    </div>
                    <div class="text">
                        <h2>Precios Bajos</h2>
                        <p>Todo a precio de estanquillo!.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-free-delivery"></span>
                    </div>
                    <div class="text">
                        <h2>Domicilios</h2>
                        <p>Domicilio gratis a partir de $150.000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
                style="background-image: url(assets/index/images/collage.png);">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                <div class="heading-section">
                    <h3 class="mb-4 text-uppercase">"Qué importa si el tiempo avanza, si hoy estoy tomándome una
                        cerveza?"</h3>

                    <p class="subheading">EDGAR ALLAN POE</p>
                    <p class="year">
                        <span><strong class="number" data-number="99999999999">0</strong> Cervezas</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>