<!-- Tabla para el inventario de productos naturistas-->
<div class="contenedor">
    <app-main-toolbar
                    [title]="title"
                    [backRoute]="'/dashboard'">        
    </app-main-toolbar>

    <mat-divider></mat-divider>
    
    <!-- Opciones, Buscador y filtros -->
    <div class="row mt-3">
        <!-- Opciones -->
        <div class="col">
            <button mat-raised-button color="primary" (click)="createProduct()">
                Agregar
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- filtros y Buscador -->
        <div class="col">
            <div class="row">
                <div class="col-3">
                    <button mat-icon-button aria-label="Filtros" (click)="isActiveFilters = !isActiveFilters">
                        <mat-icon>filter_list</mat-icon>
                        Filtros
                    </button>
                </div>
                <div class="col-9">
                    <span class="p-input-icon-left w-100">
                        <i class="pi pi-search"></i>
                        <input #input type="text" class="w-100" pInputText placeholder="Buscar" [formControl]="termInput" />
                    </span>
                </div>
            </div>

            <!-- Contenido de los filtros -->
            <ng-container *ngIf="isActiveFilters">
                <div class="row">
                    <div class="col">
                        <h3 class="bold-text">Categoría</h3>
                        <mat-divider></mat-divider>
                        <mat-selection-list [multiple]="false">
                            <!-- Quitar la categoria -->
                            <mat-list-option (click)="idCategorySelected = ''">   
                                Ningúna                             
                            </mat-list-option>
                            <!-- Todas las categorias de la supercategoria -->
                            <mat-list-option *ngFor="let category of categories"
                                                [value]="category.id"
                                                (click)="filterData( category )">
                            {{category.name}}
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </div>
            </ng-container>
            

        </div>
    </div>

    <mat-card-content class="mt-3">
        <div class="mat-elevation-z8 mt-3">
            <table class="full-width-table" mat-table [dataSource]="dataSource" matSort>        
                <!-- Nombre -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                    <td mat-cell *matCellDef="let row">{{ row | productName }}</td>
                </ng-container>
                <!-- Unidad de media -->
                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad Medida</th>
                    <td mat-cell *matCellDef="let row">{{ row | unitDetail:'spirits' }}</td>
                </ng-container>
                <!-- Precio de venta -->
                <ng-container matColumnDef="sale_price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                    <td mat-cell *matCellDef="let row">$ {{row.sale_price | number}}</td>
                </ng-container>

                <ng-container *ngIf="withSecondPrice">
                    <!-- Precio de venta 2 -->
                    <ng-container matColumnDef="second_sale_price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio 2</th>
                        <td mat-cell *matCellDef="let row">$ {{row.second_sale_price | number}}</td>
                    </ng-container>
                </ng-container>

                <!-- Stock -->
                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
                    <td mat-cell *matCellDef="let row">{{row.stock}}</td>
                </ng-container>
                <!-- Existencia actual -->
                <ng-container matColumnDef="current_existence">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Actual</th>
                    <td mat-cell *matCellDef="let row">{{row.current_existence}}</td>
                </ng-container>                    
            
                <!-- Acciones -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                    <td mat-cell *matCellDef="let row">
                        <button title="Editar" class="btn" (click)="editProduct( row )">
                            <span class="edit-color">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>                    
                        </button>
                        <button title="Eliminar" class="btn" (click)="deleteProduct( row )">
                            <span class="delete-color">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </span>                    
                        </button>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontró información: "{{input.value}}"</td>
                </tr>
            </table>
            <!-- Paginación conectada al backend -->
            <mat-paginator 
                        [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = paginateChange( $event )"
                        aria-label="Seleccione Página">                
            </mat-paginator>
        </div>
    </mat-card-content>
    
</div>