::ng-deep .mat-dialog-container{
    padding: 0px;
    overflow: hidden;
}
.container{
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    // grid-auto-rows: minmax(10px, auto);
    // grid-gap: 15px;
    // grid-row-gap: 1px;
    // padding: 7px;

    .formControl{
        width: 100%;
        display: block;
    }
    .mat-form-field{
        width: 100%;
        display: block;
    }
}