<div class="row txt-center mt-4">
  <h2>Seleccione el tipo de producto a crear:</h2>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="supercategory">
    <mat-radio-button value="Licores">Licores</mat-radio-button>
    <mat-radio-button value="2" class="ml-2">Cigarrillos</mat-radio-button>
    <mat-radio-button value="3" class="ml-2">Option 2</mat-radio-button>
    <mat-radio-button value="4" class="ml-2">Option 2</mat-radio-button>
  </mat-radio-group>
</div>

<ng-container *ngIf="supercategory === 'Licores'">
  <form [formGroup]="form" class="mt-small mt-4" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">

    <div class="container row center-card mt-small">
      <mat-card class="example-card col-lg-4 col-md-6 col-sm-6 col-8">
        <mat-card-header>
          <mat-card-title>Imagen</mat-card-title>
          <mat-card-subtitle>Sube la imagen del producto</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="imgURL" mat-card-image [src]="imgURL" alt="Photo of a Shiba Inu" style="display: block !important;">
        <mat-card-actions class="center-card">
          <mat-form-field>
            <ngx-mat-file-input (change)="onSelect($event)" accept='image/*' placeholder="Subir imagen..."></ngx-mat-file-input>
            <mat-icon matSuffix class="cursor-pointer">add_a_photo</mat-icon>
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <div class="container mt-small">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <mat-form-field appearance="fill" class="formControl">
                  <mat-label>Categoría</mat-label>
                  <mat-select formControlName="category" required>
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                      {{ category.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls.category.hasError('required')">
                      Debe especificar la categoría a la que pertenece el producto.
                    </mat-error>
              </mat-form-field>
          </div>
  
          <div class="col-lg-4 col-md-4">
              <mat-form-field appearance="fill" class="formControl">
                  <mat-label>Nombre </mat-label>
                  <input
                    matInput
                    type="text"
                    [min]="0"
                    formControlName="name"
                    required
                  />
                  <mat-error *ngIf="form.controls.name.hasError('required')">
                      El nombre de la categoría es requerido.
                    </mat-error>
              </mat-form-field>
          </div>
  
          <div class="col-lg-4 col-md-4">
            <mat-form-field appearance="fill" class="formControl">
              <mat-label>Unidad de medida</mat-label>
              <mat-select formControlName="unit" required>
                <mat-option *ngFor="let unit of units" [value]="unit.id">
                  {{ unit.unit + ' ' + '(' + unit.ml + ' ml)' }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.unit.hasError('required')">
                  Debe especificar la unidad de medida del producto.
                </mat-error>
            </mat-form-field>
          </div>
      </div>    
      
      
      <div class="row">
        <!-- listado de caracteristícas del producto -->
          <div class="col-lg-12 col-md-12 col-12">
              <mat-form-field class="example-chip-list" appearance="fill">
                  <mat-label>Características</mat-label>
                  <mat-chip-list #chipList aria-label="Seleccionar Características">
                    <mat-chip
                      *ngFor="let feature of selectedFeatures"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(feature)">
                      {{feature}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Nueva Característica..."
                      #fruitInput
                      formControlName="features"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let feature of filteredFeatures | async" [value]="feature">
                      {{feature}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
          </div>
      </div>
  
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <mat-form-field appearance="fill" class="formControl">
                  <mat-label>Código de Barras </mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="barcode"
                  />
                  <!-- <mat-error *ngIf="form.controls.name.hasError('required')">
                      El nombre de la categoría es requerido.
                    </mat-error> -->
              </mat-form-field>
          </div>
  
          <!-- Stock -->
          <div class="col-lg-4 col-md-4">
              <mat-form-field appearance="fill" class="formControl">
                  <mat-label>Stock</mat-label>
                  <input
                    matInput
                    type="number"
                    [min]="1"
                    formControlName="stock"
                    required
                  />
                  <mat-error *ngIf="form.controls.name.hasError('required')">
                      El nombre de la categoría es requerido.
                    </mat-error>
              </mat-form-field>
          </div>
  
          <!-- % de alcohol -->
          <div class="col-lg-4 col-md-4">
            <mat-form-field appearance="fill" class="formControl">
              <mat-label>% Alcohol</mat-label>
              <mat-select formControlName="alcohol" required>
                <mat-option *ngFor="let alcohol of alcohols" [value]="alcohol.id">
                  {{ alcohol.alcohol + ' %' }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.alcohol.hasError('required')">
                  Debe especificar el % de alcohol del producto.
                </mat-error>
            </mat-form-field>
          </div>
      </div>
  
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <mat-form-field appearance="fill" class="formControl">
                  <mat-label>Precio de Compra</mat-label>
                  <input matInput currencyMask formControlName="purchase_price" 
                  [options]="{ allowNegative: false, precision: 0, thousands: '.' }"/>
              </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4">
            <mat-form-field appearance="fill" class="formControl">
                <mat-label>Precio de Venta</mat-label>
                <input matInput currencyMask formControlName="sale_price" 
                [options]="{ allowNegative: false, precision: 0, thousands: '.' }"/>
            </mat-form-field>
        </div>
          <div class="col-lg-4 col-md-4">
              <mat-form-field appearance="fill" class="formControl">
                  <mat-label>Existencia Actual </mat-label>
                  <input
                    matInput
                    type="number"
                    [min]="0"
                    formControlName="current_existence"
                    required
                  />
                  <!-- <mat-error *ngIf="form.controls.name.hasError('required')">
                      El nombre de la categoría es requerido.
                    </mat-error> -->
              </mat-form-field>
          </div>
      </div>        
    </div>
  
    <div class="txt-center">
      <button mat-raised-button class="mr-2" [routerLink]="['/dashboard/products']">Cancelar</button>
      <button mat-raised-button color="primary" class="ml-2" type="submit" [disabled]="!form.valid">Crear Producto</button>
    </div>   
  
  </form>
</ng-container>


