<div class="contenedor">

    <div class="row ml-1">
        <h1 class="fw-500 txt-center">Panel Principal</h1>
    </div>

    <mat-divider></mat-divider>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-lg-2 col-md-2">
                <mat-card class="example-card">
                  <img mat-card-image width="200" height="150" src="assets/images/sale-icon.svg" alt="Photo of a Shiba Inu">
                  <mat-card-content class="txt-center">
                    <div>
                      <h3>Venta</h3>
                    </div>                    
                  </mat-card-content>
                </mat-card>
            </div>

            <div class="col-12 col-lg-2 col-md-2">
              <mat-card class="example-card">
                <img mat-card-image width="200" height="150" src="assets/images/liquor-icon.svg" alt="Photo of a Shiba Inu">
                <mat-card-content class="txt-center">
                  <div>
                    <h3>Inventario</h3>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-lg-2 col-md-2">
              <mat-card class="example-card">
                <img mat-card-image width="200" height="150" src="assets/images/provider-icon.svg" alt="Photo of a Shiba Inu">
                <mat-card-content class="txt-center">
                  <div>
                    <h3>Proveedores</h3>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-lg-2 col-md-2">
              <mat-card class="example-card">
                <img mat-card-image width="200" height="150" src="assets/images/client-icon.svg" alt="Photo of a Shiba Inu">
                <mat-card-content class="txt-center">
                  <div>
                    <h3>Clientes</h3>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-lg-2 col-md-2">
              <mat-card class="example-card">
                <img mat-card-image width="200" height="150" src="assets/images/box-icon.svg" alt="Photo of a Shiba Inu">
                <mat-card-content class="txt-center">
                  <div>
                    <h3>Caja</h3>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-lg-2 col-md-2">
              <mat-card class="example-card" (click)="goToSettings()">
                <img mat-card-image width="200" height="150" src="assets/images/setting-icon.svg" alt="Photo of a Shiba Inu">
                <mat-card-content class="txt-center">
                  <div>
                    <h3>Ajustes</h3>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
        </div>
    </div>
</div>