<div class="contenedor">

  <div class="row ml-1">
      <h1 class="fw-500 txt-center">Panel Principal</h1>
  </div>

  <mat-divider></mat-divider>

  <!-- ************************************************************************************************ -->
  <div class="mt-2">

    <!-- Crear nueva compra o venta -->
    <mat-grid-list cols="6" class="justify-center">
      <ng-container *ngFor="let item of menuCreate">
        <mat-grid-tile >
          <mat-card class="example-card mt-2" (click)="goToRoute( item.route )">
            <mat-card-subtitle class="txt-center">{{item.name}}</mat-card-subtitle>
            <div class="txt-center">
              <i [class]="item.img" style="font-size: 2rem"></i>
            </div>
            
            <!-- <img mat-card-sm-image
                  class="menu-img"
                  [src]="item.img" 
                  [alt]="item.name"> -->

            <!-- <mat-card-content class="txt-center title">
              <div>
                <h5 class="title-content">{{ item.name }}</h5>
              </div>                    
            </mat-card-content> -->
          </mat-card>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>

    <!-- Opciones principales del sistema -->
    <mat-grid-list cols="6">
      <ng-container *ngFor="let item of menu">
        <mat-grid-tile >
          <mat-card class="example-card mt-2" (click)="goToRoute( item.route )">
            <img mat-card-image
                  class="menu-img"
                  width="150" 
                  height="100" 
                  [src]="item.img" 
                  [alt]="item.name">
            <mat-card-content class="txt-center title">
              <div>
                <h3 class="title-content">{{ item.name }}</h3>
              </div>                    
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>    
</div>