<div class="contenedor">

  <div class="row ml-1">
      <h1 class="fw-500 txt-center">Panel Principal</h1>
  </div>

  <mat-divider></mat-divider>

  <!-- ************************************************************************************************ -->
  <div class="mt-2">
    <mat-grid-list cols="6">
      <ng-container *ngFor="let item of menu">
        <!-- Solo se le muestra al administrador -->
        <mat-grid-tile >
          <mat-card class="example-card mt-2" (click)="goToRoute( item.route )">
            <img mat-card-image
                  class="menu-img"
                  width="150" 
                  height="100" 
                  [src]="item.img" 
                  [alt]="item.name">
            <mat-card-content class="txt-center title">
              <div>
                <h3 class="title-content">{{ item.name }}</h3>
              </div>                    
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </ng-container>

    </mat-grid-list>
  <!-- </div> -->
  
    
</div>