.full-width {
    width: 100%;
}

.txt-center
{
    text-align: center;
}

.box-center
{
    justify-content: center;
}

.mt-2
{
    margin-top: 12px;
}

.txt-end
{
    text-align: end;
}

.cash-back
{
    color: #007bff;
    font-weight: bold;
    font-size: large;
}