<h1 mat-dialog-title class="txt-center" style="font-weight: bold;">Terminar Venta {{ dialogTitle }}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <!-- Dinero recibido -->
  <div class="container mt-2">

    <ng-container *ngIf="clientSaleData.typeSale === 'counted'">
      <h3>Dinero Con El Que Paga El Cliente:</h3>

      <div class="row">
        <mat-chip-list aria-label="cash selection">
          <mat-chip *ngFor="let cash of moneyBack; index as i"
                    color="primary"
                    [selected]="cash.isActive" 
                    (click)="selectCash(i)">
            {{ cash.amount | number }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>
    <div class="row mt-2">
      <div class="field">
        <label for="currency-cop">
          {{ (clientSaleData.typeSale === 'counted') ? 'Otra Cantidad:' : 'Valor Abonado'  }}
        </label>
        <div class="p-inputgroup">
          <p-inputNumber [(ngModel)]="clientSaleData.totalSale" 
                         (onInput)="clientSaleData.totalSale = $event.value"
                         inputId="currency-cop" 
                         currency="COP" 
                         locale="es">
          </p-inputNumber>
          <button type="button" 
                  pButton 
                  pRipple 
                  icon="pi pi-times" 
                  styleClass="p-button-danger"
                  (click)="clientSaleData.totalSale = 0">            
          </button>
        </div>        
      </div>
    </div>
  </div>

  <div class="txt-center mt-2">
    <mat-slide-toggle [(ngModel)]="withClient" [disabled]="trustedSale">Agregar Cliente</mat-slide-toggle>
  </div>

  <!-- Información del cliente -->
  <ng-container *ngIf="withClient">
    <div class="mt-2">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Buscar por Cédula...</mat-label>
            <input matInput
                   aria-label="Cédula"
                   [matAutocomplete]="auto"
                   [formControl]="termDniClient">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                        *ngFor="let client of filteredClients | async" 
                        [value]="client.dni"
                        (onSelectionChange)="onChangeClient(client)">
                <small>{{ client.dni + ' - ' + client.name }}</small>
              </mat-option>
            </mat-autocomplete>

            <button *ngIf="dni" matSuffix mat-icon-button aria-label="Clear" (click)="clearData()">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    
        <div class="alert alert-warning txt-center" role="alert" >
            <p>ó</p>
            <button mat-raised-button color="accent" (click)="createClient()">Registrar Nuevo Cliente</button>
        </div>
      </div>
  </ng-container>  

  <!-- Sección de información de pagos -->
  <div class="mt-2 txt-end">
      <p>Total: $ {{ total | number }}</p>
      <p>
        {{ clientSaleData.typeSale === 'counted' ? 'Pago:' : 'Abono:' }}
        $ {{ clientSaleData.totalSale | number }}
      </p>
      <p class="cash-back">
        <ng-container *ngIf="clientSaleData.typeSale === 'counted'">
          Devuelta: $ {{ (clientSaleData.totalSale - total)  | number }}
        </ng-container>
        <ng-container *ngIf="clientSaleData.typeSale === 'trusted'">
          Valor Acreditado: $ {{ ( total - clientSaleData.totalSale)  | number }}
        </ng-container>
      </p>
  </div>

</div>
<div mat-dialog-actions class="box-center">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button 
            color="primary" 
            cdkFocusInitial 
            (click)="aceptDialog()"
            [disabled]="disabledSale">
    Aceptar
  </button>
</div>