// /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fw-500
{
    font-weight: 500 !important;
}

.show-color
{
    color: #0275d8;
}

.edit-color
{
    color: #f0ad4e;
}

.delete-color
{
    color: #d9534f;
}

.contenedor
{
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    overflow:hidden !important;
}

.txt-center
{
    text-align: center !important;
}

.btn
{
  border: 0px;
  background-color: transparent;
  font-weight: bolder;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #263c5a #ededed;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ededed;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #263c5a;
    border-radius: 5px;
    border: 3px solid #ffffff;
  }

.mt-small
{
    margin-top: 2%;
}

.cursor-pointer
{
    cursor: pointer;
}

.mt-2
{
  margin-top: 10px !important;
}

.mt-4
{
  margin-top: 20px !important;
}

.mr-2
{
  margin-right: 10px !important;
}

.ml-2
{
  margin-left: 10px !important;
}