<!-- ********************************** Small Header *******************************************-->
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <p class="mb-0 phone pl-md-2">
                    <a href="tel:+573142524145" class="mr-2"><span class="fa fa-phone mr-1"></span> 3142524145</a>
                    <a href="mailto:contacto@licoreriapensilvania.com?Subject=Contactame">
                        <span class="fa fa-paper-plane mr-1"></span> 
                        contacto@licoreriapensilvania.com
                    </a>
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end">
                <div class="social-media mr-4">
                    <p class="mb-0 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
                <div class="reg w-in">
                    <p class="mb-0">
                        <!-- <a href="#" class="mr-2">Registrarse</a>
                        <a href="#" class="mr-2">Iniciar Sesión</a> -->
                        <button type="button" class="btn btn-primary">Registrarse</button>
                        <button type="button" class="btn btn-primary" (click)="goToLogin()">Login</button>
                        <!-- <button mat-button class="mr-2 color-w" (click)="goToLogin()">Registrarse</button>
                        <button mat-button class="mr-2 color-w" (click)="goToLogin()">Login</button> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>